<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.modules.processinstance.mapper.ProcessInstanceMapper">
    <resultMap type="com.anyilanxin.modules.processinstance.entity.ProcessInstanceEntity" id="ProcessInstanceMap">
       <result property="processInstanceId" column="PROCESS_INSTANCE_ID" jdbcType="BIGINT"/>
       <result property="parentProcessInstanceId" column="PARENT_PROCESS_INSTANCE_ID" jdbcType="BIGINT"/>
       <result property="rootProcessInstanceId" column="ROOT_PROCESS_INSTANCE_ID" jdbcType="BIGINT"/>
       <result property="businessKey" column="BUSINESS_KEY" jdbcType="VARCHAR"/>
       <result property="processDefinitionKey" column="PROCESS_DEFINITION_KEY" jdbcType="VARCHAR"/>
       <result property="processDefinitionId" column="PROCESS_DEFINITION_ID" jdbcType="BIGINT"/>
       <result property="processDefinitionName" column="PROCESS_DEFINITION_NAME" jdbcType="VARCHAR"/>
       <result property="startUserId" column="START_USER_ID" jdbcType="VARCHAR"/>
       <result property="state" column="STATE" jdbcType="VARCHAR"/>
       <result property="startTime" column="START_TIME" jdbcType="TIMESTAMP"/>
       <result property="endTime" column="END_TIME" jdbcType="TIMESTAMP"/>
       <result property="rev" column="REVISION" jdbcType="INTEGER"/>
       <result property="resourceId" column="RESOURCE_ID" jdbcType="INTEGER"/>
    </resultMap>

    <!-- @formatter:off -->
    <!--数据库字段，REVISION 按旧属性名 REV 别名输出，保证 resultType 自动映射-->
    <sql id="Column_List">
PROCESS_INSTANCE_ID, PARENT_PROCESS_INSTANCE_ID, ROOT_PROCESS_INSTANCE_ID, BUSINESS_KEY, PROCESS_DEFINITION_KEY, PROCESS_DEFINITION_ID, PROCESS_DEFINITION_NAME, START_USER_ID, STATE, START_TIME, END_TIME, REVISION AS REV, RESOURCE_ID
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
ali.PROCESS_INSTANCE_ID, ali.PARENT_PROCESS_INSTANCE_ID, ali.ROOT_PROCESS_INSTANCE_ID, ali.BUSINESS_KEY, ali.PROCESS_DEFINITION_KEY, ali.PROCESS_DEFINITION_ID, ali.PROCESS_DEFINITION_NAME, ali.START_USER_ID, ali.STATE, ali.START_TIME, ali.END_TIME, ali.REVISION AS REV, ali.RESOURCE_ID
    </sql>

     <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
ali.PROCESS_INSTANCE_ID, ali.PARENT_PROCESS_INSTANCE_ID, ali.ROOT_PROCESS_INSTANCE_ID, ali.BUSINESS_KEY, ali.PROCESS_DEFINITION_KEY, ali.PROCESS_DEFINITION_ID, ali.PROCESS_DEFINITION_NAME, ali.START_USER_ID, ali.STATE, ali.START_TIME, ali.END_TIME, ali.REVISION AS REV, ali.RESOURCE_ID
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel" resultType="com.anyilanxin.modules.processinstance.service.vo.ProcessInstancePageVo">
        SELECT
             <include refid="Column_List_Page_Ali"/>
        FROM ANYI_PROCESS_INSTANCE ali
        <where>
          <if test="query.processInstanceId != null">
             AND ali.PROCESS_INSTANCE_ID = #{query.processInstanceId, jdbcType=BIGINT}
          </if>
          <if test="query.parentProcessInstanceId != null">
             AND ali.PARENT_PROCESS_INSTANCE_ID = #{query.parentProcessInstanceId, jdbcType=BIGINT}
          </if>
          <if test="query.businessKey != null and query.businessKey != ''">
             AND ali.BUSINESS_KEY = #{query.businessKey, jdbcType=VARCHAR}
          </if>
          <if test="query.processDefinitionKey != null and query.processDefinitionKey != ''">
             AND ali.PROCESS_DEFINITION_KEY = #{query.processDefinitionKey, jdbcType=VARCHAR}
          </if>
          <if test="query.processDefinitionId != null">
             AND ali.PROCESS_DEFINITION_ID = #{query.processDefinitionId, jdbcType=BIGINT}
          </if>
          <if test="query.processDefinitionName != null and query.processDefinitionName != ''">
             AND ali.PROCESS_DEFINITION_NAME = #{query.processDefinitionName, jdbcType=VARCHAR}
          </if>
          <if test="query.startUserId != null and query.startUserId != ''">
             AND ali.START_USER_ID = #{query.startUserId, jdbcType=VARCHAR}
          </if>
          <if test="query.state != null and query.state != ''">
             AND ali.STATE = #{query.state, jdbcType=VARCHAR}
          </if>
          <if test="query.startTime != null">
             AND ali.START_TIME = #{query.startTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.endTime != null">
             AND ali.END_TIME = #{query.endTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.rev != null">
             AND ali.REVISION = #{query.rev, jdbcType=INTEGER}
          </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel" resultType="com.anyilanxin.modules.processinstance.service.vo.ProcessInstanceVo" parameterType="com.anyilanxin.modules.processinstance.controller.dto.ProcessInstanceQueryDto">
        SELECT
            <include refid="Column_List"/>
        FROM ANYI_PROCESS_INSTANCE
        <where>
         <if test="processInstanceId != null">
             AND PROCESS_INSTANCE_ID = #{processInstanceId, jdbcType=BIGINT}
         </if>
         <if test="parentProcessInstanceId != null">
             AND PARENT_PROCESS_INSTANCE_ID = #{parentProcessInstanceId, jdbcType=BIGINT}
         </if>
         <if test="businessKey != null and businessKey != ''">
             AND BUSINESS_KEY = #{businessKey, jdbcType=VARCHAR}
         </if>
         <if test="processDefinitionKey != null and processDefinitionKey != ''">
             AND PROCESS_DEFINITION_KEY = #{processDefinitionKey, jdbcType=VARCHAR}
         </if>
         <if test="processDefinitionId != null">
             AND PROCESS_DEFINITION_ID = #{processDefinitionId, jdbcType=BIGINT}
         </if>
         <if test="processDefinitionName != null and processDefinitionName != ''">
             AND PROCESS_DEFINITION_NAME = #{processDefinitionName, jdbcType=VARCHAR}
         </if>
         <if test="startUserId != null and startUserId != ''">
             AND START_USER_ID = #{startUserId, jdbcType=VARCHAR}
         </if>
         <if test="state != null and state != ''">
             AND STATE = #{state, jdbcType=VARCHAR}
         </if>
         <if test="startTime != null">
             AND START_TIME = #{startTime, jdbcType=TIMESTAMP}
         </if>
         <if test="endTime != null">
             AND END_TIME = #{endTime, jdbcType=TIMESTAMP}
         </if>
         <if test="rev != null">
             AND REVISION = #{rev, jdbcType=INTEGER}
         </if>
        </where>
    </select>

    <!-- @formatter:on -->
</mapper>
