<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2026 anyilanxin zxh(anyilanxin@aliyun.com)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.modules.usertask.mapper.UserTaskMapper">
    <resultMap type="com.anyilanxin.modules.usertask.entity.UserTaskEntity" id="UserTaskMap">
       <result property="userTaskKey" column="TASK_ID" jdbcType="VARCHAR"/>
       <result property="elementId" column="TASK_DEFINITION_KEY" jdbcType="VARCHAR"/>
       <result property="name" column="TASK_NAME" jdbcType="VARCHAR"/>
       <result property="processDefinitionId" column="PROCESS_DEFINITION_ID" jdbcType="VARCHAR"/>
       <result property="businessKey" column="BUSINESS_KEY" jdbcType="VARCHAR"/>
       <result property="creationDate" column="START_TIME" jdbcType="TIMESTAMP"/>
       <result property="completionDate" column="END_TIME" jdbcType="TIMESTAMP"/>
       <result property="assignee" column="ASSIGNEE" jdbcType="VARCHAR"/>
       <result property="owner" column="OWNER" jdbcType="VARCHAR"/>
       <result property="state" column="STATE" jdbcType="VARCHAR"/>
       <result property="processDefinitionKey" column="DEFINITION_KEY" jdbcType="VARCHAR"/>
       <result property="processInstanceKey" column="PROCESS_INSTANCE_ID" jdbcType="VARCHAR"/>
       <result property="elementInstanceKey" column="ACTIVITY_INSTANCE_ID" jdbcType="VARCHAR"/>
       <result property="dueDate" column="DUE_TIME" jdbcType="TIMESTAMP"/>
       <result property="followUpDate" column="FOLLOW_UP_TIME" jdbcType="TIMESTAMP"/>
       <result property="candidateGroups" column="CANDIDATE_GROUPS" jdbcType="VARCHAR"/>
       <result property="candidateUsers" column="CANDIDATE_USERS" jdbcType="VARCHAR"/>
       <result property="priority" column="PRIORITY" jdbcType="INTEGER"/>
       <result property="duration" column="DURATION" jdbcType="BIGINT"/>
       <result property="rev" column="REVISION" jdbcType="INTEGER"/>
       <result property="resourceId" column="RESOURCE_ID" jdbcType="INTEGER"/>
    </resultMap>

    <!-- @formatter:off -->
    <!--数据库字段，重命名列按 Vo 旧属性名别名输出，保证 resultType 自动映射-->
    <sql id="Column_List">
TASK_ID AS USER_TASK_KEY, TASK_DEFINITION_KEY AS ELEMENT_ID, TASK_NAME AS NAME, PROCESS_DEFINITION_ID, BUSINESS_KEY, START_TIME AS CREATION_DATE, END_TIME AS COMPLETION_DATE, ASSIGNEE, OWNER, STATE, DEFINITION_KEY AS PROCESS_DEFINITION_KEY, PROCESS_INSTANCE_ID AS PROCESS_INSTANCE_KEY, ACTIVITY_INSTANCE_ID AS ELEMENT_INSTANCE_KEY, DUE_TIME AS DUE_DATE, FOLLOW_UP_TIME AS FOLLOW_UP_DATE, CANDIDATE_GROUPS, CANDIDATE_USERS, PRIORITY, DURATION, REVISION, RESOURCE_ID
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
ali.TASK_ID AS USER_TASK_KEY, ali.TASK_DEFINITION_KEY AS ELEMENT_ID, ali.TASK_NAME AS NAME, ali.PROCESS_DEFINITION_ID, ali.BUSINESS_KEY, ali.START_TIME AS CREATION_DATE, ali.END_TIME AS COMPLETION_DATE, ali.ASSIGNEE, ali.OWNER, ali.STATE, ali.DEFINITION_KEY AS PROCESS_DEFINITION_KEY, ali.PROCESS_INSTANCE_ID AS PROCESS_INSTANCE_KEY, ali.ACTIVITY_INSTANCE_ID AS ELEMENT_INSTANCE_KEY, ali.DUE_TIME AS DUE_DATE, ali.FOLLOW_UP_TIME AS FOLLOW_UP_DATE, ali.CANDIDATE_GROUPS, ali.CANDIDATE_USERS, ali.PRIORITY, ali.DURATION, ali.REVISION, ali.RESOURCE_ID
    </sql>

     <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
ali.TASK_ID AS USER_TASK_KEY, ali.TASK_DEFINITION_KEY AS ELEMENT_ID, ali.TASK_NAME AS NAME, ali.PROCESS_DEFINITION_ID, ali.BUSINESS_KEY, ali.START_TIME AS CREATION_DATE, ali.END_TIME AS COMPLETION_DATE, ali.ASSIGNEE, ali.OWNER, ali.STATE, ali.DEFINITION_KEY AS PROCESS_DEFINITION_KEY, ali.PROCESS_INSTANCE_ID AS PROCESS_INSTANCE_KEY, ali.ACTIVITY_INSTANCE_ID AS ELEMENT_INSTANCE_KEY, ali.DUE_TIME AS DUE_DATE, ali.FOLLOW_UP_TIME AS FOLLOW_UP_DATE, ali.CANDIDATE_GROUPS, ali.CANDIDATE_USERS, ali.PRIORITY, ali.DURATION, ali.REVISION, ali.RESOURCE_ID
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel" resultType="com.anyilanxin.modules.usertask.service.vo.UserTaskPageVo">
        SELECT
             <include refid="Column_List_Page_Ali"/>
        FROM ANYI_USER_TASK ali
        <where>
          <if test="query.userTaskKey != null and query.userTaskKey != ''">
             AND ali.TASK_ID = #{query.userTaskKey, jdbcType=VARCHAR}
          </if>
          <if test="query.elementId != null and query.elementId != ''">
             AND ali.TASK_DEFINITION_KEY = #{query.elementId, jdbcType=VARCHAR}
          </if>
          <if test="query.name != null and query.name != ''">
             AND ali.TASK_NAME = #{query.name, jdbcType=VARCHAR}
          </if>
          <if test="query.processDefinitionId != null and query.processDefinitionId != ''">
             AND ali.PROCESS_DEFINITION_ID = #{query.processDefinitionId, jdbcType=VARCHAR}
          </if>
          <if test="query.creationDate != null">
             AND ali.START_TIME = #{query.creationDate, jdbcType=TIMESTAMP}
          </if>
          <if test="query.completionDate != null">
             AND ali.END_TIME = #{query.completionDate, jdbcType=TIMESTAMP}
          </if>
          <if test="query.assignee != null and query.assignee != ''">
             AND ali.ASSIGNEE = #{query.assignee, jdbcType=VARCHAR}
          </if>
          <if test="query.state != null and query.state != ''">
             AND ali.STATE = #{query.state, jdbcType=VARCHAR}
          </if>
          <if test="query.processDefinitionKey != null and query.processDefinitionKey != ''">
             AND ali.DEFINITION_KEY = #{query.processDefinitionKey, jdbcType=VARCHAR}
          </if>
          <if test="query.processInstanceKey != null and query.processInstanceKey != ''">
             AND ali.PROCESS_INSTANCE_ID = #{query.processInstanceKey, jdbcType=VARCHAR}
          </if>
          <if test="query.elementInstanceKey != null and query.elementInstanceKey != ''">
             AND ali.ACTIVITY_INSTANCE_ID = #{query.elementInstanceKey, jdbcType=VARCHAR}
          </if>
          <if test="query.dueDate != null">
             AND ali.DUE_TIME = #{query.dueDate, jdbcType=TIMESTAMP}
          </if>
          <if test="query.followUpDate != null">
             AND ali.FOLLOW_UP_TIME = #{query.followUpDate, jdbcType=TIMESTAMP}
          </if>
          <if test="query.priority != null">
             AND ali.PRIORITY = #{query.priority, jdbcType=INTEGER}
          </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel" resultType="com.anyilanxin.modules.usertask.service.vo.UserTaskVo" parameterType="com.anyilanxin.modules.usertask.controller.dto.UserTaskQueryDto">
        SELECT
            <include refid="Column_List"/>
        FROM ANYI_USER_TASK
        <where>
         <if test="userTaskKey != null and userTaskKey != ''">
             AND TASK_ID = #{userTaskKey, jdbcType=VARCHAR}
         </if>
         <if test="elementId != null and elementId != ''">
             AND TASK_DEFINITION_KEY = #{elementId, jdbcType=VARCHAR}
         </if>
         <if test="name != null and name != ''">
             AND TASK_NAME = #{name, jdbcType=VARCHAR}
         </if>
         <if test="processDefinitionId != null and processDefinitionId != ''">
             AND PROCESS_DEFINITION_ID = #{processDefinitionId, jdbcType=VARCHAR}
         </if>
         <if test="creationDate != null">
             AND START_TIME = #{creationDate, jdbcType=TIMESTAMP}
         </if>
         <if test="completionDate != null">
             AND END_TIME = #{completionDate, jdbcType=TIMESTAMP}
         </if>
         <if test="assignee != null and assignee != ''">
             AND ASSIGNEE = #{assignee, jdbcType=VARCHAR}
         </if>
         <if test="state != null and state != ''">
             AND STATE = #{state, jdbcType=VARCHAR}
         </if>
         <if test="processDefinitionKey != null and processDefinitionKey != ''">
             AND DEFINITION_KEY = #{processDefinitionKey, jdbcType=VARCHAR}
         </if>
         <if test="processInstanceKey != null and processInstanceKey != ''">
             AND PROCESS_INSTANCE_ID = #{processInstanceKey, jdbcType=VARCHAR}
         </if>
         <if test="elementInstanceKey != null and elementInstanceKey != ''">
             AND ACTIVITY_INSTANCE_ID = #{elementInstanceKey, jdbcType=VARCHAR}
         </if>
         <if test="dueDate != null">
             AND DUE_TIME = #{dueDate, jdbcType=TIMESTAMP}
         </if>
         <if test="followUpDate != null">
             AND FOLLOW_UP_TIME = #{followUpDate, jdbcType=TIMESTAMP}
         </if>
         <if test="priority != null">
             AND PRIORITY = #{priority, jdbcType=INTEGER}
         </if>
        </where>
    </select>

    <!-- @formatter:on -->
</mapper>
