<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.modules.common.mapper.ActivityInstanceMapper">
    <resultMap type="com.anyilanxin.modules.common.entity.ActivityInstanceEntity" id="ActivityInstanceMap">
       <result property="activityInstanceId" column="ACTIVITY_INSTANCE_ID" jdbcType="INTEGER"/>
       <result property="parentActivityInstanceId" column="PARENT_ACTIVITY_INSTANCE_ID" jdbcType="INTEGER"/>
       <result property="rev" column="REV" jdbcType="INTEGER"/>
       <result property="processInstanceId" column="PROCESS_INSTANCE_ID" jdbcType="INTEGER"/>
       <result property="processDefinitionKey" column="PROCESS_DEFINITION_KEY" jdbcType="VARCHAR"/>
       <result property="processDefinitionId" column="PROCESS_DEFINITION_ID" jdbcType="INTEGER"/>
       <result property="callProcessInstanceId" column="CALL_PROCESS_INSTANCE_ID" jdbcType="INTEGER"/>
       <result property="activityDefinitionKey" column="ACTIVITY_DEFINITION_KEY" jdbcType="VARCHAR"/>
       <result property="activityDefinitionName" column="ACTIVITY_DEFINITION_NAME" jdbcType="VARCHAR"/>
       <result property="activityDefinitionType" column="ACTIVITY_DEFINITION_TYPE" jdbcType="VARCHAR"/>
       <result property="taskId" column="TASK_ID" jdbcType="INTEGER"/>
       <result property="assignee" column="ASSIGNEE" jdbcType="VARCHAR"/>
       <result property="startActivityDefinitionKey" column="START_ACTIVITY_DEFINITION_KEY" jdbcType="VARCHAR"/>
       <result property="startActivityInstanceId" column="START_ACTIVITY_INSTANCE_ID" jdbcType="INTEGER"/>
       <result property="state" column="STATE" jdbcType="VARCHAR"/>
       <result property="sequenceCounter" column="SEQUENCE_COUNTER" jdbcType="INTEGER"/>
       <result property="incidentId" column="INCIDENT_ID" jdbcType="INTEGER"/>
       <result property="startTime" column="START_TIME" jdbcType="TIMESTAMP"/>
       <result property="endTime" column="END_TIME" jdbcType="TIMESTAMP"/>
       <result property="duration" column="DURATION" jdbcType="INTEGER"/>
       <result property="tenantId" column="TENANT_ID" jdbcType="VARCHAR"/>
       <result property="partitionId" column="PARTITION_ID" jdbcType="INTEGER"/>
    </resultMap>

    <!-- @formatter:off -->
    <!--数据库字段-->
    <sql id="Column_List">
ACTIVITY_INSTANCE_ID, PARENT_ACTIVITY_INSTANCE_ID, REV, PROCESS_INSTANCE_ID, PROCESS_DEFINITION_KEY, PROCESS_DEFINITION_ID, CALL_PROCESS_INSTANCE_ID, ACTIVITY_DEFINITION_KEY, ACTIVITY_DEFINITION_NAME, ACTIVITY_DEFINITION_TYPE, TASK_ID, ASSIGNEE, START_ACTIVITY_DEFINITION_KEY, START_ACTIVITY_INSTANCE_ID, STATE, SEQUENCE_COUNTER, INCIDENT_ID, START_TIME, END_TIME, DURATION, TENANT_ID, PARTITION_ID
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
ali.ACTIVITY_INSTANCE_ID, ali.PARENT_ACTIVITY_INSTANCE_ID, ali.REV, ali.PROCESS_INSTANCE_ID, ali.PROCESS_DEFINITION_KEY, ali.PROCESS_DEFINITION_ID, ali.CALL_PROCESS_INSTANCE_ID, ali.ACTIVITY_DEFINITION_KEY, ali.ACTIVITY_DEFINITION_NAME, ali.ACTIVITY_DEFINITION_TYPE, ali.TASK_ID, ali.ASSIGNEE, ali.START_ACTIVITY_DEFINITION_KEY, ali.START_ACTIVITY_INSTANCE_ID, ali.STATE, ali.SEQUENCE_COUNTER, ali.INCIDENT_ID, ali.START_TIME, ali.END_TIME, ali.DURATION, ali.TENANT_ID, ali.PARTITION_ID
    </sql>

     <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
ali.ACTIVITY_INSTANCE_ID, ali.PARENT_ACTIVITY_INSTANCE_ID, ali.REV, ali.PROCESS_INSTANCE_ID, ali.PROCESS_DEFINITION_KEY, ali.PROCESS_DEFINITION_ID, ali.CALL_PROCESS_INSTANCE_ID, ali.ACTIVITY_DEFINITION_KEY, ali.ACTIVITY_DEFINITION_NAME, ali.ACTIVITY_DEFINITION_TYPE, ali.TASK_ID, ali.ASSIGNEE, ali.START_ACTIVITY_DEFINITION_KEY, ali.START_ACTIVITY_INSTANCE_ID, ali.STATE, ali.SEQUENCE_COUNTER, ali.INCIDENT_ID, ali.START_TIME, ali.END_TIME, ali.DURATION, ali.TENANT_ID, ali.PARTITION_ID
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel" resultType="com.anyilanxin.modules.common.service.vo.ActivityInstancePageVo">
        SELECT
             <include refid="Column_List_Page_Ali"/>
        FROM ANYI_ACTIVITY_INSTANCE ali
        <where>
             ali.del_flag = 0
          <if test="query.activityInstanceId != null">
             AND ali.ACTIVITY_INSTANCE_ID = #{query.activityInstanceId, jdbcType=INTEGER}
          </if>
          <if test="query.parentActivityInstanceId != null">
             AND ali.PARENT_ACTIVITY_INSTANCE_ID = #{query.parentActivityInstanceId, jdbcType=INTEGER}
          </if>
          <if test="query.rev != null">
             AND ali.REV = #{query.rev, jdbcType=INTEGER}
          </if>
          <if test="query.processInstanceId != null">
             AND ali.PROCESS_INSTANCE_ID = #{query.processInstanceId, jdbcType=INTEGER}
          </if>
          <if test="query.processDefinitionKey != null and query.processDefinitionKey != ''">
             AND ali.PROCESS_DEFINITION_KEY = #{query.processDefinitionKey, jdbcType=VARCHAR}
          </if>
          <if test="query.processDefinitionId != null">
             AND ali.PROCESS_DEFINITION_ID = #{query.processDefinitionId, jdbcType=INTEGER}
          </if>
          <if test="query.callProcessInstanceId != null">
             AND ali.CALL_PROCESS_INSTANCE_ID = #{query.callProcessInstanceId, jdbcType=INTEGER}
          </if>
          <if test="query.activityDefinitionKey != null and query.activityDefinitionKey != ''">
             AND ali.ACTIVITY_DEFINITION_KEY = #{query.activityDefinitionKey, jdbcType=VARCHAR}
          </if>
          <if test="query.activityDefinitionName != null and query.activityDefinitionName != ''">
             AND ali.ACTIVITY_DEFINITION_NAME = #{query.activityDefinitionName, jdbcType=VARCHAR}
          </if>
          <if test="query.activityDefinitionType != null and query.activityDefinitionType != ''">
             AND ali.ACTIVITY_DEFINITION_TYPE = #{query.activityDefinitionType, jdbcType=VARCHAR}
          </if>
          <if test="query.taskId != null">
             AND ali.TASK_ID = #{query.taskId, jdbcType=INTEGER}
          </if>
          <if test="query.assignee != null and query.assignee != ''">
             AND ali.ASSIGNEE = #{query.assignee, jdbcType=VARCHAR}
          </if>
          <if test="query.startActivityDefinitionKey != null and query.startActivityDefinitionKey != ''">
             AND ali.START_ACTIVITY_DEFINITION_KEY = #{query.startActivityDefinitionKey, jdbcType=VARCHAR}
          </if>
          <if test="query.startActivityInstanceId != null">
             AND ali.START_ACTIVITY_INSTANCE_ID = #{query.startActivityInstanceId, jdbcType=INTEGER}
          </if>
          <if test="query.state != null and query.state != ''">
             AND ali.STATE = #{query.state, jdbcType=VARCHAR}
          </if>
          <if test="query.sequenceCounter != null">
             AND ali.SEQUENCE_COUNTER = #{query.sequenceCounter, jdbcType=INTEGER}
          </if>
          <if test="query.incidentId != null">
             AND ali.INCIDENT_ID = #{query.incidentId, jdbcType=INTEGER}
          </if>
          <if test="query.startTime != null">
             AND ali.START_TIME = #{query.startTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.endTime != null">
             AND ali.END_TIME = #{query.endTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.duration != null">
             AND ali.DURATION = #{query.duration, jdbcType=INTEGER}
          </if>
          <if test="query.tenantId != null and query.tenantId != ''">
             AND ali.TENANT_ID = #{query.tenantId, jdbcType=VARCHAR}
          </if>
          <if test="query.partitionId != null">
             AND ali.PARTITION_ID = #{query.partitionId, jdbcType=INTEGER}
          </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel" resultType="com.anyilanxin.modules.common.service.vo.ActivityInstanceVo" parameterType="com.anyilanxin.modules.common.controller.dto.ActivityInstanceQueryDto">
        SELECT
            <include refid="Column_List"/>
        FROM ANYI_ACTIVITY_INSTANCE
        <where>
             del_flag = 0
         <if test="activityInstanceId != null">
             AND ACTIVITY_INSTANCE_ID = #{activityInstanceId, jdbcType=INTEGER}
         </if>
         <if test="parentActivityInstanceId != null">
             AND PARENT_ACTIVITY_INSTANCE_ID = #{parentActivityInstanceId, jdbcType=INTEGER}
         </if>
         <if test="rev != null">
             AND REV = #{rev, jdbcType=INTEGER}
         </if>
         <if test="processInstanceId != null">
             AND PROCESS_INSTANCE_ID = #{processInstanceId, jdbcType=INTEGER}
         </if>
         <if test="processDefinitionKey != null and processDefinitionKey != ''">
             AND PROCESS_DEFINITION_KEY = #{processDefinitionKey, jdbcType=VARCHAR}
         </if>
         <if test="processDefinitionId != null">
             AND PROCESS_DEFINITION_ID = #{processDefinitionId, jdbcType=INTEGER}
         </if>
         <if test="callProcessInstanceId != null">
             AND CALL_PROCESS_INSTANCE_ID = #{callProcessInstanceId, jdbcType=INTEGER}
         </if>
         <if test="activityDefinitionKey != null and activityDefinitionKey != ''">
             AND ACTIVITY_DEFINITION_KEY = #{activityDefinitionKey, jdbcType=VARCHAR}
         </if>
         <if test="activityDefinitionName != null and activityDefinitionName != ''">
             AND ACTIVITY_DEFINITION_NAME = #{activityDefinitionName, jdbcType=VARCHAR}
         </if>
         <if test="activityDefinitionType != null and activityDefinitionType != ''">
             AND ACTIVITY_DEFINITION_TYPE = #{activityDefinitionType, jdbcType=VARCHAR}
         </if>
         <if test="taskId != null">
             AND TASK_ID = #{taskId, jdbcType=INTEGER}
         </if>
         <if test="assignee != null and assignee != ''">
             AND ASSIGNEE = #{assignee, jdbcType=VARCHAR}
         </if>
         <if test="startActivityDefinitionKey != null and startActivityDefinitionKey != ''">
             AND START_ACTIVITY_DEFINITION_KEY = #{startActivityDefinitionKey, jdbcType=VARCHAR}
         </if>
         <if test="startActivityInstanceId != null">
             AND START_ACTIVITY_INSTANCE_ID = #{startActivityInstanceId, jdbcType=INTEGER}
         </if>
         <if test="state != null and state != ''">
             AND STATE = #{state, jdbcType=VARCHAR}
         </if>
         <if test="sequenceCounter != null">
             AND SEQUENCE_COUNTER = #{sequenceCounter, jdbcType=INTEGER}
         </if>
         <if test="incidentId != null">
             AND INCIDENT_ID = #{incidentId, jdbcType=INTEGER}
         </if>
         <if test="startTime != null">
             AND START_TIME = #{startTime, jdbcType=TIMESTAMP}
         </if>
         <if test="endTime != null">
             AND END_TIME = #{endTime, jdbcType=TIMESTAMP}
         </if>
         <if test="duration != null">
             AND DURATION = #{duration, jdbcType=INTEGER}
         </if>
         <if test="tenantId != null and tenantId != ''">
             AND TENANT_ID = #{tenantId, jdbcType=VARCHAR}
         </if>
         <if test="partitionId != null">
             AND PARTITION_ID = #{partitionId, jdbcType=INTEGER}
         </if>
        </where>
    </select>

    <!-- @formatter:on -->
</mapper>
