{
    "components": {"schemas": {
        "UserDto": {
            "type": "object",
            "properties": {
                "name": {"type": "string"},
                "email": {"type": "string"}
            }
        },
        "MilestoneMetadataDto": {
            "deprecated": true,
            "type": "object",
            "properties": {
                "updatedBy": {"$ref": "#/components/schemas/UserDto"},
                "organizationPublic": {"type": "boolean"},
                "createdBy": {"$ref": "#/components/schemas/UserDto"},
                "created": {"type": "string"},
                "name": {"type": "string"},
                "id": {"type": "string"},
                "updated": {"type": "string"},
                "fileId": {"type": "string"}
            }
        }
    }},
    "servers": [{
        "description": "Generated server url",
        "url": "https://modeler.camunda.io"
    }],
    "openapi": "3.1.0",
    "paths": {"/api/v1/milestones/{milestoneId}/restore": {"post": {
        "description": "Deprecated. Use the corresponding version endpoint instead.",
        "operationId": "restoreMilestone",
        "responses": {
            "200": {
                "description": "OK",
                "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MilestoneMetadataDto"}}}
            },
            "500": {
                "description": "Internal Server Error",
                "content": {"application/json": {"example": "{\n\"type\":\"about:blank\",\n\"title\":\"Internal Server Error\",\n\"status\":500,\n\"detail\":\"Unexpected error while processing request.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}
            },
            "403": {
                "description": "Forbidden",
                "content": {"application/json": {"example": "{\n\"type\":\"about:blank\",\n\"title\":\"Forbidden\",\n\"status\":403,\n\"detail\":\"Operation not allowed.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}
            },
            "404": {
                "description": "Not Found",
                "content": {"application/json": {"example": "{\n\"type\":\"about:blank\",\n\"title\":\"Not Found\",\n\"status\":404,\n\"detail\":\"Resource not found.\",\n\"instance\":\"/api/v1/resource/id\"\n}"}}
            }
        },
        "parameters": [{
            "schema": {
                "format": "uuid",
                "example": "dafffde6-2b49-4b1c-9c28-e22b1b1377a9"
            },
            "in": "path",
            "name": "milestoneId",
            "required": true
        }],
        "tags": ["Milestones"]
    }}},
    "info": {
        "title": "Web Modeler REST API",
        "version": "6ad2448"
    }
}
