<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  ~ Copyright © 2026 anyilanxin zxh(anyilanxin@aliyun.com)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<mapper namespace="com.anyilanxin.kunpeng.sink.rdbms.mapper.SignalSubscriptionMapper">

  <insert id="insert" parameterType="com.anyilanxin.kunpeng.sink.rdbms.model.SignalSubscriptionDbModel">
    INSERT INTO ${prefix}signal_subscription (
      signal_subscription_id, signal_name, signal_type, process_instance_id,
      activity_instance_id, process_definition_id, definition_key, activity_key, state,
      resource_id
    ) VALUES (
      #{signalSubscriptionId}, #{signalName}, #{signalType}, #{processInstanceId},
      #{activityInstanceId}, #{processDefinitionId}, #{definitionKey}, #{activityKey}, #{state},
      #{resourceId}
    )
  </insert>

  <update id="update" parameterType="com.anyilanxin.kunpeng.sink.rdbms.model.SignalSubscriptionDbModel">
    UPDATE ${prefix}signal_subscription
    SET state = #{state}
    WHERE signal_subscription_id = #{signalSubscriptionId}
  </update>

  <delete id="cleanupHistory">
    DELETE FROM ${prefix}signal_subscription WHERE process_instance_id = #{processInstanceId}
  </delete>

  <delete id="removePartition">
    DELETE FROM ${prefix}signal_subscription WHERE resource_id = #{resourceId}
  </delete>

  <delete id="clearAll">DELETE FROM ${prefix}signal_subscription</delete>

</mapper>
