<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2026 anyilanxin zxh(anyilanxin@aliyun.com)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.modules.job.mapper.JobMapper">
    <resultMap type="com.anyilanxin.modules.job.entity.JobEntity" id="JobMap">
       <result property="jobId" column="JOB_ID" jdbcType="BIGINT"/>
       <result property="jobType" column="JOB_TYPE" jdbcType="VARCHAR"/>
       <result property="jobKind" column="JOB_KIND" jdbcType="VARCHAR"/>
       <result property="state" column="STATE" jdbcType="VARCHAR"/>
       <result property="retries" column="RETRIES" jdbcType="INTEGER"/>
       <result property="retryBackoff" column="RETRY_BACKOFF" jdbcType="INTEGER"/>
       <result property="priority" column="PRIORITY" jdbcType="INTEGER"/>
       <result property="dueDate" column="DUE_TIME" jdbcType="TIMESTAMP"/>
       <result property="lockOwner" column="LOCK_OWNER" jdbcType="VARCHAR"/>
       <result property="lockExpireTime" column="LOCK_EXPIRE_TIME" jdbcType="TIMESTAMP"/>
       <result property="processInstanceId" column="PROCESS_INSTANCE_ID" jdbcType="BIGINT"/>
       <result property="activityInstanceId" column="ACTIVITY_INSTANCE_ID" jdbcType="BIGINT"/>
       <result property="processDefinitionId" column="PROCESS_DEFINITION_ID" jdbcType="BIGINT"/>
       <result property="processDefinitionKey" column="DEFINITION_KEY" jdbcType="VARCHAR"/>
       <result property="activityDefinitionKey" column="ACTIVITY_KEY" jdbcType="VARCHAR"/>
       <result property="taskId" column="TASK_ID" jdbcType="BIGINT"/>
       <result property="incidentId" column="INCIDENT_ID" jdbcType="BIGINT"/>
       <result property="deniedReason" column="DENIED_REASON" jdbcType="VARCHAR"/>
       <result property="startTime" column="START_TIME" jdbcType="TIMESTAMP"/>
       <result property="endTime" column="END_TIME" jdbcType="TIMESTAMP"/>
       <result property="duration" column="DURATION" jdbcType="BIGINT"/>
       <result property="variablesJson" column="VARIABLES_JSON" jdbcType="VARCHAR"/>
       <result property="localVariablesJson" column="LOCAL_VARIABLES_JSON" jdbcType="VARCHAR"/>
       <result property="rev" column="REVISION" jdbcType="INTEGER"/>
       <result property="resourceId" column="RESOURCE_ID" jdbcType="INTEGER"/>
    </resultMap>

    <!-- @formatter:off -->
    <!--数据库字段，重命名列按 Vo 旧属性名别名输出，保证 resultType 自动映射-->
    <sql id="Column_List">
JOB_ID, JOB_TYPE, JOB_KIND, STATE, RETRIES, RETRY_BACKOFF, PRIORITY, DUE_TIME AS DUE_DATE, LOCK_OWNER, LOCK_EXPIRE_TIME, PROCESS_INSTANCE_ID, ACTIVITY_INSTANCE_ID, PROCESS_DEFINITION_ID, DEFINITION_KEY AS PROCESS_DEFINITION_KEY, ACTIVITY_KEY AS ACTIVITY_DEFINITION_KEY, TASK_ID, INCIDENT_ID, DENIED_REASON, START_TIME, END_TIME, DURATION, VARIABLES_JSON, LOCAL_VARIABLES_JSON, REVISION, RESOURCE_ID
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
ali.JOB_ID, ali.JOB_TYPE, ali.JOB_KIND, ali.STATE, ali.RETRIES, ali.RETRY_BACKOFF, ali.PRIORITY, ali.DUE_TIME AS DUE_DATE, ali.LOCK_OWNER, ali.LOCK_EXPIRE_TIME, ali.PROCESS_INSTANCE_ID, ali.ACTIVITY_INSTANCE_ID, ali.PROCESS_DEFINITION_ID, ali.DEFINITION_KEY AS PROCESS_DEFINITION_KEY, ali.ACTIVITY_KEY AS ACTIVITY_DEFINITION_KEY, ali.TASK_ID, ali.INCIDENT_ID, ali.DENIED_REASON, ali.START_TIME, ali.END_TIME, ali.DURATION, ali.VARIABLES_JSON, ali.LOCAL_VARIABLES_JSON, ali.REVISION, ali.RESOURCE_ID
    </sql>

     <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
ali.JOB_ID, ali.JOB_TYPE, ali.JOB_KIND, ali.STATE, ali.RETRIES, ali.RETRY_BACKOFF, ali.PRIORITY, ali.DUE_TIME AS DUE_DATE, ali.LOCK_OWNER, ali.LOCK_EXPIRE_TIME, ali.PROCESS_INSTANCE_ID, ali.ACTIVITY_INSTANCE_ID, ali.PROCESS_DEFINITION_ID, ali.DEFINITION_KEY AS PROCESS_DEFINITION_KEY, ali.ACTIVITY_KEY AS ACTIVITY_DEFINITION_KEY, ali.TASK_ID, ali.INCIDENT_ID, ali.DENIED_REASON, ali.START_TIME, ali.END_TIME, ali.DURATION, ali.VARIABLES_JSON, ali.LOCAL_VARIABLES_JSON, ali.REVISION, ali.RESOURCE_ID
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel" resultType="com.anyilanxin.modules.job.service.vo.JobPageVo">
        SELECT
             <include refid="Column_List_Page_Ali"/>
        FROM ANYI_JOB ali
        <where>
          <if test="query.jobId != null">
             AND ali.JOB_ID = #{query.jobId, jdbcType=BIGINT}
          </if>
          <if test="query.jobType != null and query.jobType != ''">
             AND ali.JOB_TYPE = #{query.jobType, jdbcType=VARCHAR}
          </if>
          <if test="query.jobKind != null and query.jobKind != ''">
             AND ali.JOB_KIND = #{query.jobKind, jdbcType=VARCHAR}
          </if>
          <if test="query.retries != null">
             AND ali.RETRIES = #{query.retries, jdbcType=INTEGER}
          </if>
          <if test="query.retryBackoff != null">
             AND ali.RETRY_BACKOFF = #{query.retryBackoff, jdbcType=INTEGER}
          </if>
          <if test="query.priority != null">
             AND ali.PRIORITY = #{query.priority, jdbcType=INTEGER}
          </if>
          <if test="query.dueDate != null">
             AND ali.DUE_TIME = #{query.dueDate, jdbcType=TIMESTAMP}
          </if>
          <if test="query.lockExpireTime != null">
             AND ali.LOCK_EXPIRE_TIME = #{query.lockExpireTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.lockOwner != null and query.lockOwner != ''">
             AND ali.LOCK_OWNER = #{query.lockOwner, jdbcType=VARCHAR}
          </if>
          <if test="query.processDefinitionKey != null and query.processDefinitionKey != ''">
             AND ali.DEFINITION_KEY = #{query.processDefinitionKey, jdbcType=VARCHAR}
          </if>
          <if test="query.processDefinitionId != null">
             AND ali.PROCESS_DEFINITION_ID = #{query.processDefinitionId, jdbcType=BIGINT}
          </if>
          <if test="query.processInstanceId != null">
             AND ali.PROCESS_INSTANCE_ID = #{query.processInstanceId, jdbcType=BIGINT}
          </if>
          <if test="query.activityDefinitionKey != null and query.activityDefinitionKey != ''">
             AND ali.ACTIVITY_KEY = #{query.activityDefinitionKey, jdbcType=VARCHAR}
          </if>
          <if test="query.activityInstanceId != null">
             AND ali.ACTIVITY_INSTANCE_ID = #{query.activityInstanceId, jdbcType=BIGINT}
          </if>
          <if test="query.taskId != null">
             AND ali.TASK_ID = #{query.taskId, jdbcType=BIGINT}
          </if>
          <if test="query.incidentId != null">
             AND ali.INCIDENT_ID = #{query.incidentId, jdbcType=BIGINT}
          </if>
          <if test="query.state != null and query.state != ''">
             AND ali.STATE = #{query.state, jdbcType=VARCHAR}
          </if>
          <if test="query.deniedReason != null and query.deniedReason != ''">
             AND ali.DENIED_REASON = #{query.deniedReason, jdbcType=VARCHAR}
          </if>
          <if test="query.startTime != null">
             AND ali.START_TIME = #{query.startTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.endTime != null">
             AND ali.END_TIME = #{query.endTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.duration != null">
             AND ali.DURATION = #{query.duration, jdbcType=BIGINT}
          </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel" resultType="com.anyilanxin.modules.job.service.vo.JobVo" parameterType="com.anyilanxin.modules.job.controller.dto.JobQueryDto">
        SELECT
            <include refid="Column_List"/>
        FROM ANYI_JOB
        <where>
         <if test="jobId != null">
             AND JOB_ID = #{jobId, jdbcType=BIGINT}
         </if>
         <if test="jobType != null and jobType != ''">
             AND JOB_TYPE = #{jobType, jdbcType=VARCHAR}
         </if>
         <if test="jobKind != null and jobKind != ''">
             AND JOB_KIND = #{jobKind, jdbcType=VARCHAR}
         </if>
         <if test="retries != null">
             AND RETRIES = #{retries, jdbcType=INTEGER}
         </if>
         <if test="retryBackoff != null">
             AND RETRY_BACKOFF = #{retryBackoff, jdbcType=INTEGER}
         </if>
         <if test="priority != null">
             AND PRIORITY = #{priority, jdbcType=INTEGER}
         </if>
         <if test="dueDate != null">
             AND DUE_TIME = #{dueDate, jdbcType=TIMESTAMP}
         </if>
         <if test="lockExpireTime != null">
             AND LOCK_EXPIRE_TIME = #{lockExpireTime, jdbcType=TIMESTAMP}
         </if>
         <if test="lockOwner != null and lockOwner != ''">
             AND LOCK_OWNER = #{lockOwner, jdbcType=VARCHAR}
         </if>
         <if test="processDefinitionKey != null and processDefinitionKey != ''">
             AND DEFINITION_KEY = #{processDefinitionKey, jdbcType=VARCHAR}
         </if>
         <if test="processDefinitionId != null">
             AND PROCESS_DEFINITION_ID = #{processDefinitionId, jdbcType=BIGINT}
         </if>
         <if test="processInstanceId != null">
             AND PROCESS_INSTANCE_ID = #{processInstanceId, jdbcType=BIGINT}
         </if>
         <if test="activityDefinitionKey != null and activityDefinitionKey != ''">
             AND ACTIVITY_KEY = #{activityDefinitionKey, jdbcType=VARCHAR}
         </if>
         <if test="activityInstanceId != null">
             AND ACTIVITY_INSTANCE_ID = #{activityInstanceId, jdbcType=BIGINT}
         </if>
         <if test="taskId != null">
             AND TASK_ID = #{taskId, jdbcType=BIGINT}
         </if>
         <if test="incidentId != null">
             AND INCIDENT_ID = #{incidentId, jdbcType=BIGINT}
         </if>
         <if test="state != null and state != ''">
             AND STATE = #{state, jdbcType=VARCHAR}
         </if>
         <if test="deniedReason != null and deniedReason != ''">
             AND DENIED_REASON = #{deniedReason, jdbcType=VARCHAR}
         </if>
         <if test="startTime != null">
             AND START_TIME = #{startTime, jdbcType=TIMESTAMP}
         </if>
         <if test="endTime != null">
             AND END_TIME = #{endTime, jdbcType=TIMESTAMP}
         </if>
         <if test="duration != null">
             AND DURATION = #{duration, jdbcType=BIGINT}
         </if>
        </where>
    </select>

    <!-- @formatter:on -->
</mapper>
