<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{HH:mm:ss.SSS} [%X{actor-scheduler}] [%t] [%X{actor-name}] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="com.anyilanxin.kunpeng.cluster.messaging" level="info"/>
    <Logger name="com.anyilanxin.kunpeng.cluster.raft" level="debug"/>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>

</Configuration>
